
<div class="accordion" id="accordionExample">
    <div class="accordion-item col-10 me-4">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          NOTICIAS
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>El turismo hacia Nuquí, en el Pacífico, ha crecido hasta 126% en lo que va de 2021</strong> 
          De acuerdo a información de Anato, la reactivación en el país ya está mostrando cifras de crecimiento y, teniendo en cuenta que las preferencias de los viajeros se han inclinado hacia los destinos de naturaleza, la región del pacífico colombiano está ganando cada vez más acogida.

Según indica la asociación, basado en cifras de la Aeronáutica Civil, Nuquí, Guapí y Bahía Solano han reportado entre enero y mayo de 2021 una reactivación de 126%, 119% y 87% respectivamente, en el movimiento de pasajeros en vuelos nacionales, lo que evidencia que destinos no tradicionales están superando sus registros con relación a los viajeros transportados en 2019.
        </div>
      </div>
    </div>
    <div class="accordion-item col-10 me-4">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          CLIMA
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Tiempo Nuqui</strong> 
          <a href="https://www.tiempo.com/medellin.htm" class="btn btn-primary">Ir</a>
        </div>
      </div>
    </div>
    <div class="accordion-item col-10 me-4">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          PANORAMA PACIFICO
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Noticiero Nuqui</strong> 
          <a href="https://www.facebook.com/panoramapacificotv/videos/" class="btn btn-primary">Ir</a>
        </div>
      </div>
    </div>

  </div>
  
  