<div class="flex-container">
  <section class="row">
<section class="text-center">
    <h3 class="mb-5">CONTACTO</h3>
  
    <div class="row">
      <div class="">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d204125.43517394303!2d-77.40677315169248!3d5.709574109090019!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e490398d63bd54d%3A0x620f1d10bbd7da0a!2zTnVxdcOtLCBDaG9jw7M!5e1!3m2!1ses!2sco!4v1669517789973!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          <div class="col-5 offset-7" style="background-color: #F0F2D6; padding-top: 5rem; display: none;">
            <h4>Jurubirá</h4>
            <h4>Tribugá</h4>
            <h4>Partadó</h4>
            <h4>Panguí</h4>
            <h4>Coquí</h4>
            <h4>Joví</h4>
            <h4>Termales</h4>
            <h4>Arusí</h4>
          </div>
      </div>
  
      <div class="col-lg-7">
        <form>
          <div class="row">
            <div class="col-md-9">
              <div class="form-row">
                <div class="form-row">
                  <div class="mb-3">
                    <label for="validationTooltip01">Nombre</label>
                    <input type="text" class="form-control" id="validationTooltip01" placeholder="Nombre" >
                  </div>
                  <div class="mb-3">
                    <label for="validationTooltip02">Apellido</label>
                    <input type="text" class="form-control" id="validationTooltip02" placeholder="Apellido" >
                   
                  </div>
                  <div class="mb-3">
                  <label for="inputEmail4">Email</label>
                  <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
                <div class="mb-3">
                  <label for="inputPassword4">Contraseña</label>
                  <input type="password" class="form-control" id="inputPassword4" placeholder="Contraseña">
                </div>
              </div>
              <div class="mb-3">
                <label for="inputAddress">Direccion</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Direccion">
              </div>
            
              <div class="mb-3">
                <div class="mb-3">
                  <label for="inputCity">Ciudad</label>
                  <input type="text" class="form-control" id="inputCity" placeholder="Ciudad">
                </div>
              </div>
              <div class="mb-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck">
                  <label class="form-check-label" for="gridCheck">
                    Aceptar Condiciones
                  </label>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
            
          </div>
          </div>
        </form>
  
      </div>
    </div>
  
  
  </section>
  