<div class="flex-container">
  <section class="row">
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">JURUBIRÁ</div>
      <div class="card-body">
        <p class="card-text">El sendero Los Anturios propone una caminata de 30 minutos, dirigida por un guía local capacitado para llevar a cabo el recorrido.
  
          De este trayecto, deleita la cascada Gruta del amor donde se realiza una parada antes de llegar a disfrutar del destino final: El pozo de agua caliente Los anturios, un lugar que atrapa con su diversidad y sencillez.</p>
      </div>
    </div>
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header">TRIBUGÁ</div>
      <div class="card-body">
        
        <p class="card-text">Resiliente ante las adversidades, Tribugá es hoy, un destino que ofrece la tranquilidad y paz que solo puede proporcionar la combinación del mar y la selva. Practicar Kayaks por el manglar, hacer senderismo, y disfrutar de un atardecer en las playas vírgenes de esta comunidad, son algunos de los planes que Tribugá ofrece a sus huéspedes.</p>
      </div>
    </div>
    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
      <div class="card-header">PANGUÍ</div>
      <div class="card-body">
        
        <p class="card-text">Visita al río Panguí y río Chicuí, disfrutat del sol y las olas en playa azul, conocer experiencias de asociatividad en pesca artesanal y deleitar el paladar con productos derivados de la caña como el tradicional viche y las panelas.
          Para alargar la experiencia, las posadas nativas Chachita y Villa Inés, ofrecen la opción perfecta para descansar.</p>
      </div>
    </div>
    <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
      <div class="card-header">COQUÍ</div>
      <div class="card-body">
        <p class="card-text">       
          Disfrutar de la experiencia gastronómica de manos de las nativas, conocer el manglar en un recorrido de 1 hora de aprendizaje y charla sobre este tipo de ecosistema, visitar la cascada Bejuquillal, el sendero del Bongo y presenciar la liberación de tortugas.</p>
      </div>
    </div>
    <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
      <div class="card-header">JOVÍ</div>
      <div class="card-body">
        <p class="card-text">Visitar el río Joví, las cascadas Chontadura y Antaral, un recorrido con una duración aproximada de 2 horas. Conocer acerca de agroturismo y aprender sobre huertas caseras y bondades de las plantas.</p>
      </div>
    </div>
    <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
      <div class="card-header">TERMALES</div>
      <div class="card-body">
        <h5 class="card-title">Info card title</h5>
        <p class="card-text">Disfrutar de un baño en aguas termales, recorrer el sendero Cuatro encantos (con duración de 4 horas aproximadamente), relajarse con una sesión de aromaterapia, arriesgarse con el surf o simplemente, descansar en la playa.</p>
      </div>
    </div>
    <div class="card bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header">PARTADÓ</div>
      <div class="card-body">
        
        <p class="card-text">Participar de una noche de vichera compartiendo con nativos, escuchando sus historias, bailando a su ritmo y saborear su comida y su bebida autóctona: el viche. El sendero La Joyita y disfrutar de mermeladas de la región son otras de las opciones que ofrece la comunidad de Partadó.</p>
      </div>
    </div>
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
      <div class="card-header">ARUSÍ</div>
      <div class="card-body">
    
        <p class="card-text">Recorrer en canoa los ríos Arusí y Arusisito, visitar a Cerro Jano y Jananito, bañarse en las cascadas, hacer avistamiento de ranas, presenciar la pesca artesanal, entre otros.</p>
      </div>
    </div>
  
  </section>
  
</div>
