<div class="flex-container">
    <div class="row">
      <div class="col">
        <h2>MISION</h2>
        <p>
          Consolidar el desarrollo integral y sostenible en el Municipio de Nuquí a partir de la
implementación de estrategias y concertaciones participativas en torno al programa de
gobierno “SOMOS EL CAMBIO TURISMO COMUNITARIO” así como la generación de bases sólidas
encaminadas al cumplimiento de los Objetivos de Desarrollo Sostenible turismo comunitario y la
agenda nacional e internacional 2030 las cuales se verán fortalecidas a partir de las
acciones futuras institucionales turismo en nuestro Municipio.
        </p>
      </div>
      <div class="col">
        <h2>VISION</h2>
        <p>
          En el territorio que comprende el Municipio de Nuquí para el año 2030 será un municipio
líder en desarrollo sostenible y calidad de vida mejorada turismo, en todo el territorio de la costa
pacífica colombiana, con cobertura y calidad en la prestación de servicios públicos
domiciliarios, acceso a la educación, integralidad en el servicio de salud, goce y disfrute
de escenarios y espacios públicos, a partir del turismo ecológico comunitario como uno
de los principales renglones de la economía local.
        </p>
      </div>
      <div class="col">
        <h2>RAZON SOCIAL</h2>
        <p>
          La presente investigación se realizó con el fin de analizar el papel del capital social, 
          en la planificación y gestión participativa del turismo comunitario, dado que el capital
           social comunitario es la única propiedad social inalienable e indivisible presente en una 
           comunidad, representado en las redes de relaciones duraderas, elementos sustanciales intangibles
           que se van acumulando a través de la vida diaria comunitaria, los que visibilizan en las acciones
           de buena voluntad, compañerismo, simpatía, creencias  y relaciones socio productivas.
        </p>
      </div>
    </div>
</div>
