<div class="flex-container">
  <section class="row">
  <div class="card w-20" style="width: 18rem;">
    <img src="../assets/img/img1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">NUQUI</h5>
      <p class="card-text">Nuquí es un municipio colombiano del departamento de Chocó.
         Ubicado estratégicamente en el Pacífico Norte colombiano a 184 km de distancia 
         de Quibdó, capital del departamento. </p>
      <a href="https://colombiapais.com/pagina-sol-y-playa/playas-mar-pacifico/mar-pacifico-nuqui.html" class="btn btn-primary">Ir</a>
    </div>
  </div>

  <div class="card bg-light mb-3 ms-3" style="max-width: 18rem;">
      <div class="card-body">
        <p class="card-text">Posteriormente vino la colonización y es ahí cuando se habla de don Jesús Muñoz y su esposa, la señora Matilde López, ambos provenientes de Buenaventura, quienes atraídos por la existencia de damagua, raicilla y caucho, se establecen en la población con toda su descendencia.
Nuquí en un principio establecido como corregimiento del valle, debe su ascenso a categoría de Municipio a una historia marcada por el amor.</p>
      </div>
    </div>
 
    </section>
</div>
 



 
          
